.header-section {
  color: #FEFAE0;
  padding: 120px 20px;
  margin-bottom: 50px;
}

.header-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.header-section p {
  font-size: 1.2rem;
  color: #FEFAE0;
}

.custom-btn {
  background-color: #606C38;
  border: none;
  color: #FEFAE0;
}

.custom-btn:hover {
  background-color: #DDA15E;
  color: #283618;
}

.custom-btn-secondary {
  background-color: #283618;
  border: none;
  color: #FEFAE0;
}

.custom-btn-secondary:hover {
  background-color: #DDA15E;
  color: #283618;
}

.text-light-custom {
  color: #FEFAE0;
}
